/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    height: 100vh;
    justify-content: center;
    margin-left: 250px;
    align-items: center;  /* Center the content vertically */
    text-align: center;   /* Center text horizontally */
}

/* Main Content Box */
.main {
    width: 100%;
    max-width: 800px;  /* Set a maximum width for the main box */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Resume Box */
.resume-box {
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


.resume-box h2 {
    font-size: 1.8rem;
    color: #333;
    flex: 1;  /* Ensures the text takes up space and aligns properly */
}

.resume-buttons {
    display: flex;
    gap: 15px;
}

.resume-buttons .first {
    padding: 12px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}
.resume-buttons .second {
    padding: 12px 20px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.resume-buttons .first:hover {
    background-color: #45a049;
    transform: translateY(-5px);
}
.resume-buttons .second:hover {
    transform: translateY(-5px);
}

/* Resume Image Box */
.resume-image-box {
    text-align: center;
    width: 100%;
   
}


.resume-image {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.4s;
}

.resume-image:hover {
    transform: scale(1.05);
}

